{% extends 'base.twig' %}

{% block css %}
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/narrowColumn.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block header %}
    <header>
        <h2 class="userName"><a href="/user/group/{{ group }}"><</a></h2>
        <h2 class="affiliation"> Преподаватель</h2>
    </header>
{% endblock %}
{% block content %}
    <div class="content">
        <div class="leftblock"></div>
        <div class="center">
            <div class="cenralize">
                <form action="/filter/{{ userId }}" id="id_radio" method="post">
                    <div class="margin-vertical-16">
                        <span class="radiobtn">
                            <input type="radio" id="radiobtn" name="grade_filt" value="10" {% if grade == 10 %}checked{% endif %}>
                            <label for="radiobtn">Все</label>
                        </span>
                        <span class="radiobtn">
                            <input type="radio" id="radiobtn" name="grade_filt" value="0" {% if grade == 0 %}checked{% endif %}>
                            <label for="radiobtn">0</label>
                        </span>
                        <span class="radiobtn">
                            <input type="radio" id="radiobtn" name="grade_filt" value="1" {% if grade == 1 %}checked{% endif %}>
                            <label for="radiobtn">1</label>
                        </span>
                        <span class="radiobtn">
                            <input type="radio" id="radiobtn" name="grade_filt" value="2" {% if grade == 2 %}checked{% endif %}>
                            <label for="radiobtn">2</label>
                        </span>
                        <span class="radiobtn">
                            <input type="radio" id="radiobtn" name="grade_filt" value="3" {% if grade == 3 %}checked{% endif %}>
                            <label for="radiobtn">3</label>
                        </span>
                        <span class="radiobtn">
                            <input type="radio" id="radiobtn" name="grade_filt" value="4" {% if grade == 4 %}checked{% endif %}>
                            <label for="radiobtn">4</label>
                        </span>
                        <span class="radiobtn">
                            <input type="radio" id="radiobtn" name="grade_filt" value="5" {% if grade == 5 %}checked{% endif %}>
                            <label for="radiobtn">5</label>
                        </span>
                    </div>
                    <div class="cenralize">
                        <button type="submit" class="cenralize">Отфильтровать</button>
                    </div>
                </form>
            </div>
            <div class="groups" id="groupList">
                {% for work in works %}
                    <a href="/user/works/work/{{ work.Work.workId }}"><div class="groupCard cenralize"><h2>{{ work.Task.taskId }} {{ work.Task.name }}</h2></div></a>
                {% endfor%}
            </div>
        </div>
        <div class="rightblock"></div>
    </div>
{% endblock %}

